.TOP{
    width:100%;
    height:100px;
    position:fixed;
}



















.LEFT{

}

.avatar{

}

.listname{

}

.RIGHT{

}

.search{

}

.songlist{

}

.BOTTOM{

}

.play{

}

.songstatus{

}

.volume{
    
}